body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #e0e0e0;
}
